body{
    background-color: #6592CF;
}

.kvadrat{
    width: 300px;
    height: 200px;
    background-color: #243D83;
    margin: 200px;
    padding: 0 40px ;
    /* border: 30px solid red;
    border-top: none;
    border-bottom: none; */
}

.kvadrat1{
    width: 200px;
    height: 200px;
    background-color: #6592CF;
    border-radius: 20%;
    padding: 0 40px;
}

.kvadrat2{
    width: 150px;
    height: 150px;
    background-color: #243D83;
    border-radius: 50%;
    padding-top: 50px;
    padding-left: 50px;
}

.kvadrat3{
    width: 100px;
    height: 100px;
    background-color: #EEB850;
    border-radius: 50%;
}